@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}
:root {
  --yellow: rgb(251, 232, 80);
  --dark-black: rgb(10, 10, 11);
  --light-grey: rgb(189, 189, 189);
  --dark-grey: rgb(46, 48, 56);
  --actual-black: rgb(0, 0, 0);
  --actual-white: rgb(255, 255, 255);
}
html {
  scroll-behavior: smooth;
}
* ul {
  list-style-type: none;
}
* a {
  text-decoration: none;
}
* h1 {
  line-height: 50px;
}
* p {
  line-height: 21px;
}

body {
  background-color: var(--dark-black);
}

header {
  display: grid;
  place-items: center;
  padding: 40px 0px;
  position: sticky;
  top: 0;
  background: var(--actual-black);
  transition: 200ms ease-in;
  z-index: 99;
}
header div.header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div.header .header-logo h4 {
  font-size: 18px;
  color: var(--light-grey);
}
header div.header nav {
  display: flex;
}
header div.header nav ul {
  display: flex;
  column-gap: 20px;
}
header div.header nav ul li a {
  font-size: 15px;
  color: var(--light-grey);
}
header div.header nav:nth-of-type(2) ul li a {
  background-color: var(--yellow);
  color: var(--actual-black);
  padding: 12px 24px;
  transition: 100ms ease-in;
}
header div.header div.mobile-nav-btn {
  display: none;
  cursor: pointer;
}

main {
  display: grid;
  place-items: center;
}
main div.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 70px;
  padding: 50px 0px 70px 0px;
}
main div.main section.section-header {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
main div.main section.section-header h1 {
  color: var(--actual-white);
  font-size: 40px;
  font-weight: 100;
}

main div.main section.section-header p {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 100;
}
main div.main section.section-spons {
  width: 100%;
}
main div.main section.section-spons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
main div.main section.section-projects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}
main div.main section.section-projects div.project {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
main div.main section.section-projects div.project .project-img a img {
  transition: 150ms ease-in;
  width: 100%;
  border-radius: 2%;
}
main div.main section.section-projects div.project .project-title h2 {
  color: var(--actual-white);
  font-size: 30px;
  font-weight: 100;
}
main div.main section.section-projects div.project .project-desc p {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 100;
}
main div.main section.section-work {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}
main div.main section.section-work div {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
main div.main section.section-work div h2 {
  color: var(--actual-white);
  font-size: 30px;
  font-weight: 100;
}
main div.main section.section-work div p {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 100;
}
main div.main section.section-work div a {
  background-color: var(--yellow);
  color: var(--actual-black);
  padding: 12px 24px;
  width: fit-content;
  transition: 100ms ease-in;
}
main div.main1,
main div.main2 {
  background-color: var(--dark-grey);
  display: grid;
  place-items: center;
  padding: 50px 0px;
  width: 100%;
}
main div.main1 section.section-desc,
main div.main2 section.section-desc {
  width: 60%;
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}
main div.main1 section.section-desc div,
main div.main2 section.section-desc div {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
main div.main1 section.section-desc div.desc3,
main div.main2 section.section-desc div.desc3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

main div.main1 section.section-desc div h2,
main div.main2 section.section-desc div h2 {
  color: var(--actual-white);
  font-size: 30px;
  font-weight: 100;
}
main div.main1 section.section-desc div p,
main div.main2 section.section-desc div p {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 100;
}
main div.main1 section.section-desc div p a,
main div.main2 section.section-desc div p a {
  color: var(--light-grey);
  font-weight: 400;
}

main div.main1 section.section-desc div p a:hover,
main div.main2 section.section-desc div p a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--dark-grey);
  display: grid;
  place-items: center;
  padding: 15px 0px;
}
footer div.footer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div.footer div:nth-of-type(1) p {
  font-size: 14px;
  color: var(--actual-white);
}
footer div.footer div:nth-of-type(1) p a {
  color: var(--light-grey);
}
footer div.footer div:nth-of-type(2) ul {
  display: flex;
  column-gap: 10px;
}

div#mobile-nav {
  background-color: var(--dark-grey);
  width: 100%;
  display: none;
  position: sticky;
  top: 54px;
  z-index: 98;
}
div#mobile-nav nav {
  width: 60%;
  margin: 0px auto;
  padding-bottom: 20px;
}
div#mobile-nav nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 5px;
  padding: 10px 0px;
}
div#mobile-nav nav ul li {
  width: 100%;
  padding: 10px;
}
div#mobile-nav nav ul li a {
  display: block;
  font-size: 15px;
  color: var(--light-grey);
  text-align: center;
}
div#mobile-nav nav ul li a:hover {
  color: var(--actual-black);
}
div#mobile-nav nav ul:nth-of-type(2) li a {
  background-color: var(--yellow);
  color: var(--actual-black);
  padding: 12px 24px;
}
div#mobile-nav.active {
  display: block;
}

@media screen and (max-width: 1600px) {
  header div.header {
    width: 70%;
  }

  main div.main {
    width: 70%;
  }
  main div.main1 section.section-desc,
  main div.main2 section.section-desc {
    width: 70%;
  }

  footer div.footer {
    width: 70%;
  }
}
@media screen and (max-width: 1400px) {
  header div.header {
    width: 80%;
  }

  main div.main {
    width: 80%;
  }
  main div.main1 section.section-desc {
    width: 80%;
  }

  footer div.footer {
    width: 80%;
  }
}
@media screen and (max-width: 920px) {
  header div.header {
    width: 90%;
  }
  header div.header nav {
    display: none;
  }
  header div.header div.mobile-nav-btn {
    display: block;
  }

  main div.main {
    width: 90%;
  }
  main div.main section.section-header {
    width: 100%;
  }
  main div.main section.section-spons ul {
    justify-content: center;
    column-gap: 25px;
    row-gap: 25px;
  }
  main div.main section.section-projects {
    flex-direction: column;
    row-gap: 40px;
  }
  main div.main section.section-projects div.project {
    width: 100%;
  }
  main div.main section.section-work {
    flex-direction: column;
  }
  main div.main section.section-work div {
    width: 100%;
  }
  main div.main1 section.section-desc,
  main div.main2 section.section-desc {
    width: 90%;
    flex-direction: column;
    row-gap: 30px;
  }
  main div.main1 section.section-desc div,
  main div.main2 section.section-desc div {
    width: 100%;
  }

  footer div.footer {
    width: 90%;
  }

  div#mobile-nav nav {
    width: 90%;
  }
}

section.section_title h2 {
  color: var(--actual-white);
  font-weight: 100;
  margin-bottom: -70px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 9px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--yellow); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: 300ms ease-in;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

header div.header nav ul li a:hover,
main div.main section.section-work div a:hover {
  color: var(--actual-white);
}
header div.header nav:nth-of-type(2) ul li a:hover,
main div.main section.section-work div a:hover {
  background-color: var(--dark-grey);
}

b {
  font-weight: 500;
  text-decoration: underline;
}
.social {
  transition: 100ms ease-in;
}
.social:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(6%) saturate(4809%)
    brightness(111%) contrast(111%);
}

#section_title_i,
#project_title_1_i,
#project_title_2_i {
  transition: 150ms ease-in;
}
.showRed {
  color: red;
}

main div.main section.section-projects div.project .project-img a img:hover {
  transform: scale(1.025);
  box-shadow: 0 0 25px var(--light-grey);
  -webkit-box-shadow: 0 0 25px var(--light-grey);
  -moz-box-shadow: 0 0 25px var(--light-grey);
}
header a {
  position: relative;
  display: inline-block;
}
header a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main div.main1 section.section-desc div span p,
main div.main2 section.section-desc div span p {
  font-style: italic;
  font-size: 12px;
  margin-top: -10px;
}

main div.main1 section.section-desc div p.article_header,
main div.main2 section.section-desc div p.article_header {
  font-weight: 600;
}
main div.main1 section.section-desc div p.article_header:hover,
main div.main2 section.section-desc div p.article_header:hover {
  text-decoration: underline;
}
main div.main1 section.section-desc div p.readmore,
main div.main2 section.section-desc div p.readmore {
  font-weight: 100;
  margin-top: -10px;
  font-size: 11px;
}

@media screen and (max-width: 919px) {
  #myBtn {
    bottom: 60px;
  }
}

main div.main section.section-work div.contact {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

