---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="The Data Decorator: Articles">
  <main>
    <div class="main">
      <section class="section-header">
        <h1>Making your data, work for you.</h1>
        <p>
          Certified Power BI expert with over 5 years of Power BI, DAX & data
          experience.
        </p>
      </section>
    </div>
    <a id="about"></a>
    <div class="main1">
      <section class="section-desc">
        <div class="desc1">
          <h2>Make Better Decisions: Let your data help you!</h2>
          <p>
            Your data forms part of the foundations of your business,
            <b>build on it</b> .
          </p>
          <p>
            Data should be informing your decisions, but how is it going to do
            that if there is no visibility of it?
          </p>
          <p>
            If your business has gigabytes of data but no one is looking at it,
            then get in touch and we will make it happen.
          </p>
        </div>
        <div class="desc2">
          <p>A <b>single source of truth</b> is essential these days.</p>
          <p>
            Business often tell us that "We have some reports here and there,
            but no one really looks at them / trusts them / knows where the
            numbers come from".
          </p>

          <p>
            The days of siloed reporting with numbers varying from function to
            function and department to department are over. Centralise your
            reporting with Power BI and let
            <a href="mailto:marc@thedatadecorator.com?subject=Decorate My Data!"
              >The Data Decorator</a
            >
            help you on your journey to better decision making.
          </p>
          <p>
            We're happy to chat over coffee some time about how we can help your
            business.
          </p>
        </div>
      </section>
    </div>

    <div class="main">
      <section class="section_title">
        <a id="projects"></a>
        <a href="/projects"
          ><h2 id="section_title">
            Projects <i id="section_title_i">&#8594;</i>
          </h2>
        </a>
      </section>
      <section class="section-projects">
        <div class="project">
          <div class="project-img">
            <a
              href="https://app.powerbi.com/view?r=eyJrIjoiMzdjMjBhZmUtMDlkOC00MzllLWEzNmEtNjk5ODQ5ZmYwNDEzIiwidCI6ImM5YjIyYTk1LTE1MzUtNGFlNC1iY2QzLTcyZjE5NzUxYzI3MiJ9"
              target="_blank"
              ><img src="../assets/worldmap.webp" alt="" />
            </a>
          </div>
          <div class="project-title">
            <a href="#!"
              ><h2 id="project_title_1">
                Global Statistics Programme
                <i id="project_title_1_i">&#8594;</i>
              </h2>
            </a>
          </div>
          <div class="project-desc">
            <p>Map showing various statistics by country.</p>
          </div>
        </div>
        <div class="project">
          <div class="project-img">
            <a
              href="https://app.powerbi.com/view?r=eyJrIjoiMzQ3YWY4MWQtZjEwNS00OGZhLWE3NzEtNzZmM2ViN2ViNWI0IiwidCI6IjUwZjYwNzFmLWJiZmUtNDAxYS04ODAzLTY3Mzc0OGU2MjllMiIsImMiOjh9&pageName=ReportSection3ed77151186ecd679338"
              target="_blank"
              ><img src="../assets/nhsd.webp" alt="" />
            </a>
          </div>
          <div class="project-title">
            <a href="#!"
              ><h2 id="project_title_2">
                NHS Digital <i id="project_title_2_i">&#8594;</i>
              </h2>
            </a>
          </div>
          <div class="project-desc">
            <p>Design and build of the National Maternity Services Dashboard</p>
          </div>
        </div>
      </section>
    </div>
    <a id="articles"></a>
    <div class="main2">
      <section class="section-desc">
        <div class="desc1">
          <h2>A co-founder at one of the world's largest communities.</h2>
          <p>
            The combined experience I have working at the top Fortune 500
            companies has allowed me to developer a skillset that helps me in
            not just development, but in every aspect of any business.
          </p>
          <p>
            I'm proud to announce that I am now working at one of the world's
            largest communities teaching young minds about how to sell yourself
            as a developer and open them to a whole new world of opportunities.
          </p>
        </div>
        <div class="desc2">
          <p>
            As a developer, you have everything available to you and all that's
            holding you back is yourself.
          </p>
          <p>A quote I live by perfectly illustrates what I mean.</p>
          <p>
            "How big would you dream, if you knew you wouldn't fail?" You've
            already gone through the hardest parts being a developer, it's time
            to elevate your skills and become a leader in something you're
            passionate about.
          </p>
          <p>
            I'm happy to chat over coffee some time about how I can help your
            company.
          </p>
        </div>
      </section>
    </div>
    <div class="main">
      <section class="section-work">
        <div class="work1">
          <h2>Interested in working with us?</h2>
          <p>
            We're active on all social media platforms listed below, but you can
            also send us an email and we will get back to you within 24-48
            hours.
          </p>
          <div class="contact">
            <a href="mailto:marc@thedatadecorator.com?subject=Decorate My Data!"
              >Get in touch</a
            >
            <a href="slack://user?team=T046HRXGB5Z&id=U0477KGCCCQ">Slack Me</a>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
