---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Charities",
    price: "From Free",
    
    perfectfor:"Non-Profits",
    popular: false,
    features: [
      "Contact us to discuss your needs",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  {
    name: "6 Week Package",
    price: {
      monthly: "£12,750",
      annual: "$16",
      discount: "10%",
      original: "£15,000",
    },
    popular: false,
    perfectfor:"Smaller Projects",
    features: [
      "Report Writing",
      "Requirements Gathering",
      "Staff Training",
      "Get in touch to discuss your needs"
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  {
    name: "12 Week Package",
    price: {
      monthly: "£25,000",
      annual: "$16",
      discount: "10%",
      original: "£30,000",
    },
    popular: true,
    perfectfor:"More Complex Projects",
    features: [
      "All 6 week package features",
      "Custom Connections",
      "End User Training",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Daily Package",
    perfectfor:"On-going Projects or those without an end date",
    price: {
      monthly: "£475 P/D",
      annual: "$16",
      discount: "10%",
      original: "£500 P/D",
    },
    popular: false,
    features: [
      "All Pro Features",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  {
    name: "Custom Package",
    price: "Contact Us",
    popular: false,
    features: [
      "Negotiable rates on longer term projects",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
