---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Bring Your Own Data",
    description:
      "Whether your systems have an API or a back-end database, we can use what is contained within to form the basis of your insight journey.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% IP Rights",
    description:
      "Once we have completed the work, the reports, connectors and any other associated works are yours to keep.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "No Subscription",
    description:
      "Some analytics providers will have you pay a monthly subscription to them on top of the one you're already paying to Microsoft, we decided this wasn't fair, so we don't do it",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Integration",
    description:
      "Our team has created connectors for many popular systems which we have successfuly used in many client projects. If your system doesn't have a connector built already, we can probably still connect to it.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Experienced",
    description:
      "The team at The Data Decorator have many years of experience with Power BI and are Microsoft Certified.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Learn From Us",
    description:
      "When you engage The Data Decorator, you don't just get a suite of reports piled on you and then left, our team will train your existing staff on how to maintain them going forwards. We also offer training to your end users on how best to use the reports.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    We bring the expertise, you bring the data.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    The Data Decorator can help you extract data from your systems, whether it
    be liaising with your suppliers or tracking down documentation and using
    your own system(s) backend. <br/>We can help you access the insights within.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
