---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">We can work with almost any datasource</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="icon-park-outline:excel"  title="Excel"/>
    <Icon class="h-8 md:h-12" name="simple-icons:microsoftsqlserver" title="Microsoft/Azure SQL"/>
    <Icon class="h-8 md:h-14" name="fontisto:mysql"title="MySQL" />
    <Icon class="h-8 md:h-16" name="ph:notepad" title="Flat files & CSV"/>
    <Icon class="h-8 md:h-12" name="fa-brands:salesforce" title="Salesforce"/>
    <Icon class="h-8 md:h-12" name="mdi:jira" title="Jira"/>
    <Icon class="h-8 md:h-12" name="mdi:dots-grid" title="Any Many More"/>
  </div>
</div>
