---
export interface Props {
  title: string;
}

import Footer from "../layouts/Footer.astro";
import Nav from "../layouts/Nav.astro";
const { title } = Astro.props;
import "../styles/style.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="../js/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <script is:inline>
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
