<header id="theHeader">
  <div class="header">
    <div class="header-logo">
      <a href="/">
        <object type="image/svg+xml" data="/assets/logo2.svg"
          ><img src="/assets/logo2.svg" alt="The Data Decorator Logo" />
        </object>
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/articles">Articles</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <a href="mailto:marc@thedatadecorator.com?subject=Decorate My Data!"
            >Get in touch</a
          >
        </li>
      </ul>
    </nav>
    <div id="mobile-nav-btn" class="mobile-nav-btn">
      <img src="/assets/burger.svg" alt="" />
    </div>
  </div>
</header>

<div id="mobile-nav">
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/articles">Articles</a></li>
    </ul>
    <ul>
      <li>
        <a href="mailto:marc@thedatadecorator.com?subject=Decorate My Data!"
          >Get in touch</a
        >
      </li>
    </ul>
  </nav>
</div>
